body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #000;
    font-family: sans-serif;
    padding-top: constant(safe-area-inset-top); /* For older iOS */
    padding-top: env(safe-area-inset-top); /* For newer iOS */
    color: #FFF;
}


div.ipPill {
    background-color: #222;
    border: 3px solid #444;
    padding: 0.25em 0.25em 0.25em 1em;
    border-radius: 9999px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90vw;
    white-space: nowrap;
    color: #999;
    font-size: 2em;
    gap: 1em;
}

div.ipPill > button {
    font-size: 1em;
    font-weight: 700;
    width: 1.75em;
    height: 1.75em;
    border-radius: 9999px;
    border-width: 0;
    aspect-ratio: 1;
    background-color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
}

