body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #000;
    font-family: sans-serif;
    padding-top: constant(safe-area-inset-top); /* For older iOS */
    padding-top: env(safe-area-inset-top); /* For newer iOS */
    color: #FFF;
    width: 100vw;
    height: 100vh;
}

html, body {
    overflow: hidden;
}

#reloadButton {
    position: fixed;
    left: 50px;
    top: 50px;
    width: 75px;
    height: 75px;
}

div.chartLine, div.chartDot {
    background-color: #FFFFFF;
    position: absolute;
    height: 1px;
}

div.chartLine {
    width: 100%;
    opacity: 0.25;
}

div.chartDot {
    width: 1px;
    opacity: 10;
}

div.previewLine {
    background-color: #FFF;
    position: absolute;
    width: 1px;
    height: 1px;
}

#tempDragBubble {
    width: 4em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #FFF;
    color: #000;
    border-radius: 9999px;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    user-select: none;
    /* For older browsers, consider adding vendor prefixes for broader compatibility */
    -webkit-user-select: none; /* Safari, Chrome, Opera */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
}

#upperBubble {
    position: absolute;
    top: -40px;
    font-size: 2em;
    width:80px;
    height:80px;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    color: #000;
    user-select: none;
    /* For older browsers, consider adding vendor prefixes for broader compatibility */
    -webkit-user-select: none; /* Safari, Chrome, Opera */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
}

.tempBubble {
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #888;
    color: #000;
    border-radius: 9999px;
    transform: translate(-50%, -50%);
    font-size: 1em;
    user-select: none;
    /* For older browsers, consider adding vendor prefixes for broader compatibility */
    -webkit-user-select: none; /* Safari, Chrome, Opera */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
}

#timeTempChart {
    background-color: #000;
    position: fixed;
    left: 20vw;
    top: 20vh;
    width: 75vw;
    height: 75vh;
}

#chartLabels {
    position: fixed;
    top: 0;
    left: 0;
}

.times {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    left: 6vw;
    top: 19vh;
    width: auto;
    height: 77vh;
    position: absolute;
    z-index: 1000;
}

.temps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    left: 17.5vw;
    top: 17vh;
    width: 80vw;
    height: auto;
    position: absolute;
    z-index: 1000;
}

